{% extends "admin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}beancounter/js/jquery.flot.pack.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}beancounter/css/style.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" charset="utf-8">
    function max(list){
        return Math.max.apply(Math, list);
    };

    function min(list){
        return Math.min.apply(Math, list);
    };
</script>
{% endblock %}
{% block branding %}<h1 style="float:left;">Bean Counter Reports</h1>
<a href="/admin/" style="padding:12px; display:block;">&larr; Back to admin</a>
{% endblock %}
{% block nav-global %}{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block content %}
<div id="content-main">

    you shouldn't see this
</div>
{% endblock %}

