{% extends "beancounter/base.html" %}
{% load beancounter %}
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        var income = [];
        var expense = [];
        var net = [];
        {% for month,values in history.items %}
        income.push(['{{ month|timestamp }}', {{ values.income }}]);
        expense.push(['{{ month|timestamp }}', -{{ values.expense }}]);
        net.push(['{{ month|timestamp }}', {{ values.net }}]);
        {% endfor %}
        $(function(){
            $.plot($('#history-graph'),
                [
                    {
                        label:'Income', 
                        data: income, 
                        lines: { show:true, lineWidth:1 }, 
                        color:'#00aa00'
                    }, {
                        label:'Net', 
                        data: net, 
                        lines: { show:true, lineWidth:4 }
                    }, {
                        label:'Expense', 
                        data: expense, 
                        lines: { show:true, lineWidth:1 }, 
                        color:'#aa0000'
                    }
                ], {
                    xaxis: { mode: "time", timeformat: "%y/%m" },
                    legend: { container: $('#history-legend') }
                }
            );
        });
    </script>
{% endblock %}
{% block title %}History Report | Bean Counter {% endblock %}
{% block content %}
<div id="content-main">
    <div class="graph" id="history-graph"></div>
    <div class="legend" id="history-legend"></div>
</div>



<div id="content-related">
    <h2>Income &amp; Expenses</h2>
    <table id="history-values" class="data">
        <thead>
            <tr><td>month</td><td>expenses</td><td>income</td><td>net</td></tr>
        </thead>
        <tbody>
            {% for m,v in history.items reversed %}
                <tr>
                    <td class="label">{{ m|date:"M Y" }}</td> 
                    <td class="expense">${{ v.expense }}</td>
                    <td class="income">${{ v.income }}</td>
                    <td class="net">${{ v.net }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

