{% extends "beancounter/base.html" %}
{% load humanize %}
{% block title %}Income vs. Cost Report | Bean Counter {% endblock %}
{% block content %}
<div id="content-main">
<form action="." method="get">
    Month/Year: {{ form.month }}/{{ form.year }}
    <input type="submit" value="Generate Report" />
</form>
<br />

<div id="graph" class="graph"><!-- Graph --></div>
<div class="stat-block">
<h2>Income Vs. Costs</h2>
<table id="incomevscost-values" class="data">
    <thead>
        <tr>
            <td>category</td>
            <td>income</td>
            <td>cost</td>
            <td>net</td>
        </tr>
    </thead>
    <tbody>
    {% for t in totals %}
        <tr>
            <td>{{ t.cogs_category }}</td>
            <td>${{ t.income_total|intcomma }}</td>
            <td>${{ t.cogs_total|intcomma }}</td>
            <td>{{ t.balance|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<script type="text/javascript" charset="utf-8">
        var totalData = [];
        {% for t in totals %}
        totalData.push({
            label: '{{ t.cogs_category }}',
            data: [[{{ forloop.counter }}, {{ t.balance }}]],
        });
        {% endfor %}
        $.plot($('#graph'),
            totalData, {
                bars: { show:true },
                yaxis: { min:0 },
                xaxis: { tickSize: 5, tickFormatter: function(val, axis) { return ''; } },
                grid: { borderWidth:0 },
                //legend: { container:$('#total-values') }
            }
        );
</script>
</div>
{% endblock %}

