{% extends "beancounter/base.html" %}
{% load humanize %}
{% block title %}Overview Report | Bean Counter {% endblock %}
{% block content %}
<div id="content-main">
<form action="." method="get">
    Month/Year: {{ form.month }}/{{ form.year }}
    <input type="submit" value="Generate Report" />
</form>
<br />
<div id="total-graph" class="graph"><!-- Graph --></div>
<div class="stat-block">
<h2>Bottom Line = ${{ net|intcomma }}</h2>
<div id="total-values" class="data"><!-- legend --></div>
</div>


<script type="text/javascript" charset="utf-8">
        $.plot($('#total-graph'),
            [
                {
                    label:'Money In - ${{ income|intcomma }}', 
                    data: [ [0,{{ income }}] ], 
                }, {
                    label:'Money Out - ${{ cogs_plus_expense|intcomma }}', 
                    data: [ [1,{{ cogs_plus_expense }}] ], 
                }
            ], {
                bars: { show:true },
                yaxis: { min:0 },
                xaxis: { tickSize: 5, tickFormatter: function(val, axis) { return ''; } },
                grid: { borderWidth:0 },
                legend: { container:$('#total-values') }
            }
        );
</script>





<!-- INCOME -->

<div id="income-graph" class="graph pie"><!-- Graph --></div>
<div class="stat-block">
<h2>Income = ${{ income|intcomma }}</h2>
<div id="income-values" class="data"><!-- legend --></div>
</div>
<script type="text/javascript" charset="utf-8">
    var incomeData = [];
    {% for k,v in income_list %}
    incomeData.push({
        label: '${{ v|intcomma }} - {{ k }}',
        data: {{ v }}
    });
    {% endfor %}
        $.plot($('#income-graph'),
            incomeData, {
                pie: { 
                    show:true, 
                    showLabel: false,
                    centerOffsetLeft:100
                },
                yaxis: { min:0 },
                xaxis: { tickSize: 5, tickFormatter: function(val, axis) { return ''; } },
                grid: { borderWidth:0 },
                legend: { container:$('#income-values') }
            }
        );
</script>

<hr />
<div id="cogs-graph" class="graph pie"><!-- Graph --></div>
<div class="stat-block">
<h2>Cost of Goods Sold = ${{cogs|intcomma}}</h2>
<div id="cogs-values"><!-- legend --></div>
</div>
<script type="text/javascript" charset="utf-8">
    var cogsData = [];
    {% for k,v in cogs_list %}
    cogsData.push({
        label: '${{ v|intcomma }} - {{ k }}',
        data: {{ v }},
    });
    {% endfor %}
        $.plot($('#cogs-graph'),
            cogsData, {
                pie: { 
                    show:true, 
                    showLabel: false,
                    centerOffsetLeft:100
                },
                yaxis: { min:0 },
                xaxis: { tickSize: 5, tickFormatter: function(val, axis) { return ''; } },
                grid: { borderWidth:0 },
                legend: { container:$('#cogs-values') }
            }
        );
</script>

<hr />

<!-- INCOME -->

<div id="expense-graph" class="graph pie"><!-- Graph --></div>
<div class="stat-block">
<h2>Expense = ${{ expense|intcomma }}</h2>
<div id="expense-values" class="data"><!-- legend --></div>
</div>
<script type="text/javascript" charset="utf-8">
    var expenseData = [];
    {% for k,v in expense_list %}
    expenseData.push({
        label: '${{ v|intcomma }} - {{ k }}',
        data: {{ v }},
    });
    i++;
    {% endfor %}
        $.plot($('#expense-graph'),
            expenseData, {
                pie: { 
                    show:true, 
                    showLabel: false,
                    centerOffsetLeft:100
                },
                yaxis: { min:0 },
                xaxis: { tickSize: 5, tickFormatter: function(val, axis) { return ''; } },
                grid: { borderWidth:0 },
                legend: { container:$('#expense-values') }
            }
        );
</script>


</div>
{% endblock %}

