{% extends "beancounter/base.html" %}
{% load humanize %}
{% block title %}Overview Report | Bean Counter {% endblock %}
{% block content %}
<div id="content-main">
<form action="." method="get">
    Month/Year: {{ form.month }}/{{ form.year }}
    <input type="submit" value="Generate Report" />
</form>
<br />
<div class="stat-block">
<h2>Bottom Line = ${{ net|floatformat:"2"|intcomma }}</h2>
<table id="total-values" class="data">
    <thead>
        <td>category</td><td>amount</td></tr>
    </thead>
    <tbody>
        <tr>
            <td class="label">Money In</td>
            <td>{{income|floatformat:"2"|intcomma}}</td>
        </tr>
        <tr>
            <td class="label">Money Out</td>
            <td>{{cogs_plus_expense|floatformat:"2"|intcomma}}</td>
        </tr>
    </tbody>
</table>
</div>
<div id="total-graph"><!-- Graph --></div>

<hr />

<div class="stat-block">
<h2>Income = ${{income|floatformat:"2"|intcomma}}</h2>
<table id="income-values" class="data">
    <thead>
        <tr>
            <td>category</td>
            <td>amount</td>
        </tr>
    </thead>
    <tbody>
    {% for k,v in income_list %}
        <tr>
            <td class="label">{{ k }}</td>
            <td>${{ v|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div id="income-graph"><!-- Graph --></div>

<hr />

<div class="stat-block">
<h2>Cost of Goods Sold = ${{cogs|floatformat:"2"|intcomma}}</h2>
<table id="cogs-values" class="data">
    <thead>
        <tr>
            <td>category</td>
            <td>amount</td>
        </tr>
    </thead>
    <tbody>
    {% for k,v in cogs_list %}
        <tr>
            <td class="label">{{ k }}</td>
            <td>${{ v|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div id="cogs-graph"><!-- Graph --></div>

<hr />

<div class="stat-block">
<h2>Expense = ${{expense|floatformat:"2"|intcomma}}</h2>
<table id="expense-values" class="data">
    <thead>
        <tr>
            <td>category</td>
            <td>amount</td>
        </tr>
    </thead>
    <tbody>
    {% for k,v in expense_list %}
        <tr>
            <td class="label">{{ k }}</td>
            <td>${{ v|intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<div id="expense-graph"><!-- Graph --></div>


</div>
{% endblock %}

